* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

header {
    width: 100%;
    height: 130px;
    overflow: hidden;
    background: rgb(29, 167, 48);
}

.banner {
    padding-top: 12px;
    padding-left: 50px;
}

header .banner {
    float: left;
}

header nav {
    padding-right: 50px;
    float: right;
    line-height: 120px;
}

header nav a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    padding: 10px 20px;
    line-height: normal;
    font-size: 26px;
    text-shadow: 3px 5px 5px black;
    -webkit-transition: all 750ms ease;
    -o-transition: all 750ms ease;
    transition: all 750ms ease;
    border-radius: 50px;
}

header nav a:hover {
    background-color: rgb(0, 122, 0);
}

aside {
    padding-top: 30px;
    padding-right: 30px;
    max-width: 500px;
    float: right;
}

footer {
    position: relative;
    top: 30px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
}

article {
    padding: 30px 600px 0px 30px;
    text-align: justify;
    line-height: 1.8;
}

<<<<<<< HEAD
.gerencia {
    padding: 50px 0px 0px 50px;
}

.img_gerencia {
    max-width: 30%;
=======
textarea {
    resize: none;
>>>>>>> 7f43e170a009abc9be2120ae3f1f953ea8818bc3
}