* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

header {
    width: 100%;
    height: 130px;
    overflow: hidden;
    background: rgb(29, 167, 48);
}

.banner {
    padding-top: 12px;
    padding-left: 50px;
}

header .banner {
    float: left;
}

header nav {
    float: right;
    line-height: 120px;
}

header nav a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    padding: 10px 20px;
    line-height: normal;
    font-size: 25px;
    text-shadow: 3px 5px 5px black;
    -webkit-transition: all 750ms ease;
    -o-transition: all 750ms ease;
    transition: all 750ms ease;
    border-radius: 50px;
}

header nav a:hover {
    background-color: rgb(0, 122, 0);
}