* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
}

header {
    width: 100%;
    overflow: hidden;
    background: rgb(29, 167, 48);
}

header .banner {
    color: lemonchiffon;
    font-size: 50px;
    line-height: 200px;
    float: left;
}

header nav {
    float: right;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    color: lemonchiffon;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    /* elegir letra */
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50px;
}

header nav a:hover {
    background-color: rgb(0, 122, 0);
}

.header2 {
    position: fixed;
    height: 120px;
}

.header2 .banner {
    line-height: 100px;
    font-size: 100px;
}

.header2 nav {
    line-height: 120px;
}

.cont p {
    margin-bottom: 1em;
}

@media screen and (max-width: 950px) {
    header .banner,
    header nav {
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
    .header2 {
        height: auto;
    }
    .header .banner,
    .header nav {
        line-height: 50px;
    }
}