.banner {
    width: 60%;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(46, 158, 46);
}

head {
    width: 75%;
    height: 30%;
}

aside {
    margin-top: 3%;
    max-width: 30%;
    display: block;
    float: right;
}

.indextext {
    margin-left: 10%;
    margin-top: 5%;
    text-align: center;
    display: block;
    width: 50%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    background-color: rgb(46, 158, 46);
    text-align: center;
}

form {
    position: relative;
}